@model CategoryMaterialVM

<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <div class="card" style="width: 100%; max-width: 600px;">
            <div class="card-header">
                <h6 class="card-title mb-0 text-center">Edit Material</h6>
            </div>
            <div class="card-body">
                <form method="post" asp-action="MaterialEdit" class="row">
                    <div class="row gy-3">
                        <div class="col-12">
                            <label class="control-label" style="font-size: 20px; color: #343a40;">Material Name</label>
                            <input asp-for="CategoryMaterial.MaterialName" class="form-control" />
                            <span asp-validation-for="CategoryMaterial.MaterialName" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label>Select Categories:</label><br /><br />
                            @for (var i = 0; i < Model.CategoryList.Count(); i++)
                            {
                                var category = Model.CategoryList.ElementAt(i);
                                <div class="form-check">
                                    <input type="checkbox" asp-for="@Model.IsCategorySelected[i]" class="form-check-input" checked="@(Model.IsCategorySelected[i])" />
                                    <label class="form-check-label">@category.Text</label>
                                    <input type="hidden" asp-for="@category.Value" />
                                </div>
                            }
                            <span asp-validation-for="@Model.IsCategorySelected" class="text-danger"></span>
                        </div>

                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>

                        <div class="col-12 text-center mt-2">
                            <a asp-controller="Material" asp-action="MaterialIndex" class="btn btn-outline-secondary">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
