@using Calia.Web.Utility
@model RaporVM
@{
    ViewData["Title"] = "Menu Page";
    Layout = "~/Views/Shared/_LayoutCallia.cshtml";
}


<div class="row gy-4">
    <div class="col-xxl-12">
        <div class="card radius-8 border-0">
            <div class="row">
                <div class="col-xxl-6 pe-xxl-0">
                    <div class="card-body p-24">
                        <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                            <h6 class="mb-2 fw-bold text-lg">Kredi-Nakit Tablosu</h6>
                            <div>
                                <select id="timePeriodSelect" class="form-select form-select-sm w-auto bg-base border text-secondary-light">
                                    <option value="weekly">Haftalık</option>
                                    <option value="monthly">Aylık</option>
                                </select>
                            </div>
                        </div>
                        <ul class="d-flex flex-wrap align-items-center mt-3 gap-3">
                            <li class="d-flex align-items-center gap-2">
                                <span class="w-12-px h-12-px radius-2 bg-primary-600"></span>
                                <span class="text-secondary-light text-sm fw-semibold">
                                    Kredi Kartı:
                                    <span class="text-primary-light fw-bold">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.YillikKrediKarti)</span>
                                </span>
                            </li>
                            <li class="d-flex align-items-center gap-2">
                                <span class="w-12-px h-12-px radius-2 bg-yellow"></span>
                                <span class="text-secondary-light text-sm fw-semibold">
                                    Nakit:
                                    <span class="text-primary-light fw-bold">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.YillikNakit)</span>
                                </span>
                            </li>
                        </ul>
                        <div class="mt-40">
                            <div id="paymentStatusChart" class="margin-16-minus"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="row h-100 g-0">
                        <div class="col-6 p-0 m-0">
                            <div class="card-body p-24 h-100 d-flex flex-column justify-content-center border border-top-0">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
                                    <div>
                                        <span class="mb-12 w-44-px h-44-px text-primary-600 bg-primary-light border border-primary-light-white flex-shrink-0 d-flex justify-content-center align-items-center radius-8 h6 mb-12">
                                            <iconify-icon icon="fa-solid:box-open" class="icon"></iconify-icon>
                                        </span>
                                        <span class="mb-1 fw-medium text-secondary-light text-md">Toplam Ürün Sayısı</span>
                                        <h6 class="fw-semibold text-primary-light mb-1">@Model.Veriler.TotalProductNumber</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="card-body p-24 h-100 d-flex flex-column justify-content-center border border-top-0 border-start-0 border-end-0">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
                                    <div>
                                        <span class="mb-12 w-44-px h-44-px text-yellow bg-yellow-light border border-yellow-light-white flex-shrink-0 d-flex justify-content-center align-items-center radius-8 h6 mb-12">
                                            <iconify-icon icon="flowbite:users-group-solid" class="icon"></iconify-icon>
                                        </span>
                                        <span class="mb-1 fw-medium text-secondary-light text-md">Toplam Kapanan Masa Sayısı</span>
                                        <h6 class="fw-semibold text-primary-light mb-1">@Model.Veriler.ToplamKapananMasaSayisi</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="card-body p-24 h-100 d-flex flex-column justify-content-center border border-top-0 border-bottom-0">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
                                    <div>
                                        <span class="mb-12 w-44-px h-44-px text-lilac bg-lilac-light border border-lilac-light-white flex-shrink-0 d-flex justify-content-center align-items-center radius-8 h6 mb-12">
                                            <iconify-icon icon="majesticons:shopping-cart" class="icon"></iconify-icon>
                                        </span>
                                        <span class="mb-1 fw-medium text-secondary-light text-md">Toplam Sipariş Sayısı</span>
                                        <h6 class="fw-semibold text-primary-light mb-1">@Model.Veriler.ToplamSiparisSayisi</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 m-0">
                            <div class="card-body p-24 h-100 d-flex flex-column justify-content-center border border-top-0 border-start-0 border-end-0 border-bottom-0">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
                                    <div>
                                        <span class="mb-12 w-44-px h-44-px text-pink bg-pink-light border border-pink-light-white flex-shrink-0 d-flex justify-content-center align-items-center radius-8 h6 mb-12">
                                            <iconify-icon icon="ri:discount-percent-fill" class="icon"></iconify-icon>
                                        </span>
                                        <span class="mb-1 fw-medium text-secondary-light text-md">Toplam Kazanç</span>
                                        <h6 class="fw-semibold text-primary-light mb-1">@Model.Veriler.ToplamKazanç</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Masaların Günlük Raporu</h6>
                    <a asp-controller="Home" asp-action="MasaGunlukRapor" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Masa</th>
                                <th scope="col">Açılış</th>
                                <th scope="col">Kapanış</th>
                                <th scope="col">Toplam Ücret</th>
                                <th scope="col" class="text-center">Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var masa in Model.MasalarınGünlükRaporu)
                            {
                                <tr onclick="window.location='@Url.Action("TableDetail", "Home", new { id = masa.Id })'" style="cursor:pointer;">
                                    <td>@masa.Id</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="text-lg text-secondary-light fw-semibold flex-grow-1">@masa.tableNo.MasaNo</span>
                                        </div>
                                    </td>
                                    <td>@masa.OpenTime?.ToString("HH:mm")</td>
                                    <td>
                                        @if (masa.CloseTime != null)
                                        {
                                            @masa.CloseTime?.ToString("HH:mm")
                                        }
                                        else
                                        {
                                            <span class="text-warning fw-bold">Kapanmadı</span>
                                        }
                                    </td>
                                    <td>@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", masa.AlinanFiyat)</td>
                                    <td class="text-center">
                                        @if (masa.PaymentStatus == SD.PaymentStatusApproved)
                                        {
                                            <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">
                                                @masa.PaymentStatus
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">
                                                @masa.PaymentStatus
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">İptaller</h6>
                    <a asp-controller="Home" asp-action="Iptaller" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Ürünler</th>
                                <th scope="col">Masa No</th>
                                <th scope="col">İptal Saati</th>
                                <th scope="col">Miktar</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col" class="text-center">Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var iptal in Model.İptaller)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="text-lg text-secondary-light fw-semibold flex-grow-1">@iptal.ProductName</span>
                                        </div>
                                    </td>
                                    <td>@iptal.MasaNo</td>
                                    <td>@iptal.CancelTime?.ToString("HH:mm")</td>
                                    <td>@iptal.Count</td>
                                    <td>@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", iptal.Count * iptal.Price)</td>
                                    <td class="text-center"> <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">İptal Edildi</span> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Masaların Toplam Kazancı</h6>
                    <a asp-controller="Home" asp-action="MasaToplamKazanc" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table vertical-striped-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Masa Numarası</th>
                                <th scope="col">Toplam Kazanç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MasalarınToplamKazancı)
                            {
                                <tr>
                                    <td>
                                        <h6 class="text-md mb-0 fw-normal">@item.Key</h6>
                                    </td>
                                    <td>@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", item.Value)</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card h-100">

            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <h6 class="mb-2 fw-bold text-lg">Günlük Gelir-Gider Raporu</h6>

                </div>

                <div class="mt-32">
                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center gap-2">
                            <img src="~/images/creditcart.png" alt="" class="w-40-px h-40-px radius-8 flex-shrink-0">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0 fw-normal">Kredi Kartı</h6>
                            </div>
                        </div>
                        <span class="text-success-main text-md fw-medium">
                            +@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.GünlükGelirGiderRaporu["KrediKarti"])
                        </span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center gap-2">
                            <img src="~/images/cashpayment.png" alt="" class="w-40-px h-40-px radius-8 flex-shrink-0">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0 fw-normal">Nakit</h6>
                            </div>
                        </div>
                        <span class="text-success-main text-md fw-medium">+@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.GünlükGelirGiderRaporu["Nakit"])</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center gap-2">
                            <img src="~/images/iskonto.png" alt="" class="w-40-px h-40-px radius-8 flex-shrink-0">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0 fw-normal">İskonto</h6>
                            </div>
                        </div>
                        <span class="text-secondary-main text-md fw-medium">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.GünlükGelirGiderRaporu["Iskonto"])</span>
                    </div>

                   
                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center gap-2">
                            <img src="~/images/cay.png" alt="" class="w-40-px h-40-px radius-8 flex-shrink-0">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0 fw-normal">İkram</h6>
                            </div>
                        </div>
                        <span class="text-secondary-main text-md fw-medium">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.GünlükGelirGiderRaporu["Ikram"])</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center gap-2">
                            <img src="~/images/giderler.png" alt="" class="w-40-px h-40-px radius-8 flex-shrink-0">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0 fw-normal">Ek Giderler</h6>
                            </div>
                        </div>
                        <span class="text-danger-main text-md fw-medium">-@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", Model.GünlükGelirGiderRaporu["Giderler"])</span>
                    </div>

                   

                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Malzemeler</h6>
                    <a asp-controller="Home" asp-action="Malzemeler" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table vertical-striped-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Malzeme Adı</th>
                                <th scope="col" class="text-center">Kalan Miktar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Malzemeler)
                            {
                                <tr>
                                    <td>
                                        <h6 class="text-md mb-0 fw-normal">@item.MaterialName</h6>
                                    </td>
                                    <td class="text-center">
                                        <span class="bg-success-focus text-success-main px-32 py-4 rounded-pill fw-medium text-sm">@item.MaterialAmount</span>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card h-100 radius-8 border-0">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <h6 class="mb-2 fw-bold text-lg">Nakit - Kredi - İskonto - İkram Oranı</h6>
                </div>

                <div class="position-relative">
                    <div id="statisticsDonutChart" class="mt-36 flex-grow-1 apexcharts-tooltip-z-none title-style circle-none"></div>
                </div>

                <ul class="d-flex flex-wrap align-items-center justify-content-between mt-3 gap-3">
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px radius-2 bg-primary-600"></span>
                        <span class="text-secondary-light text-sm fw-normal">
                            Kredi Kartı:
                            <span class="text-primary-light fw-bold">@Model.GünlükGelirGiderRaporu["KrediKarti"]</span>
                        </span>
                    </li>
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px radius-2 bg-yellow"></span>
                        <span class="text-secondary-light text-sm fw-normal">
                            Nakit:
                            <span class="text-primary-light fw-bold">@Model.GünlükGelirGiderRaporu["Nakit"]</span>
                        </span>
                    </li>
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px radius-2 bg-green" style="background-color:#4CAF50"></span>
                        <span class="text-secondary-light text-sm fw-normal">
                            İskonto:
                            <span class="text-primary-light fw-bold">@Model.GünlükGelirGiderRaporu["Iskonto"]</span>
                        </span>
                    </li>
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px radius-2 bg-red"></span>
                        <span class="text-secondary-light text-sm fw-normal">
                            İkram:
                            <span class="text-primary-light fw-bold">@Model.GünlükGelirGiderRaporu["Ikram"]</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xxl-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Satılan Ürünler</h6>
                    <a asp-controller="Home" asp-action="SatilanUrunler" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table vertical-striped-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Ürünler</th>
                                <th scope="col" class="text-center">Toplam Kazanç</th>
                                <th scope="col" class="text-center">Sipariş Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var satilanUrunler in Model.UrunBasinaSatilma)
                            {
                                <tr>
                                    <td>
                                        <h6 class="text-md mb-0 fw-normal">@satilanUrunler.ProductName</h6>
                                        <span class="text-sm text-secondary-light fw-normal">@satilanUrunler.CategoryName</span>
                                    </td>
                                    <td class="text-center">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", satilanUrunler.Price)</td>
                                    <td class="text-center">
                                        <span class="bg-success-focus text-success-main px-32 py-4 rounded-pill fw-medium text-sm">@satilanUrunler.SatilmaAdedi</span>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Kalan Tatlılar</h6>
                    <a asp-controller="Home" asp-action="KalanTatlilar" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Tatlılar</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">
                                    <div class="max-w-112 mx-auto">
                                        <span>Stok</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kalanTatlilar in Model.KalanTatlılar)
                            {
                                // Stok durumu
                                int stockLevel = kalanTatlilar.AvailableProducts; // Kalan tatlının stok miktarı
                                string stockStatus; // Stok durumu için mesaj
                                string progressBarColor; // İlerleme çubuğunun rengi
                                double progressPercentage; // İlerleme çubuğu yüzdesi

                                // Stok durumuna göre ayarları belirle
                                if (stockLevel > 15)
                                {
                                    stockStatus = "Yüksek Stok";
                                    progressBarColor = "bg-success"; // Yeşil renk
                                    progressPercentage = 100; // %100
                                }
                                else if (stockLevel > 5)
                                {
                                    stockStatus = "Orta Stok";
                                    progressBarColor = "bg-warning"; // Sarı renk
                                    progressPercentage = (double)stockLevel / 20 * 100; // Stok seviyesine göre yüzde
                                }
                                else
                                {
                                    stockStatus = "Düşük Stok";
                                    progressBarColor = "bg-danger"; // Kırmızı renk
                                    progressPercentage = (double)stockLevel / 20 * 100; // Stok seviyesine göre yüzde
                                }

                                <tr>
                                    <td>@kalanTatlilar.Name</td>
                                    <td>@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", kalanTatlilar.Price)</td>
                                    <td>
                                        <div class="max-w-112 mx-auto">
                                            <div class="w-100">
                                                <div class="progress progress-sm rounded-pill" role="progressbar" aria-label="Stock Status" aria-valuenow="@progressPercentage" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar @progressBarColor rounded-pill" style="width: @progressPercentage%;"></div>
                                                </div>
                                            </div>
                                            <span class="mt-12 text-secondary-light text-sm fw-medium">@stockStatus - @stockLevel adet kaldı</span>
                                        </div>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Garsonlarin Siparis Sayisi</h6>
                    
                </div>
                <div class="table-responsive">
                    <table class="table vertical-striped-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Garson</th>
                                <th scope="col">Satis Sayisi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GünlükGarsonRaporu)
                            {
                                <tr>
                                    <td>
                                        <h6 class="text-md mb-0 fw-normal">@item.Key</h6>
                                    </td>
                                    <td>@item.Value</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-6">
        <div class="card h-100">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                    <h6 class="mb-2 fw-bold text-lg mb-0">İkram Edilen Ürünler</h6>
                    <a asp-controller="Home" asp-action="IkramEdilenUrunler" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        Tümünü Gör
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table vertical-striped-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Ürünler</th>
                                <th scope="col" class="text-center">İskonto</th>
                                <th scope="col" class="text-center">İkram Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ikramUrunler in Model.IkramVerilenUrunler)
                            {
                                <tr>
                                    <td>
                                        <h6 class="text-md mb-0 fw-normal">@ikramUrunler.ProductName</h6>
                                        <span class="text-sm text-secondary-light fw-normal">@ikramUrunler.CategoryName</span>
                                    </td>
                                    <td class="text-center">@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", ikramUrunler.Price)</td>
                                    <td class="text-center">
                                        <span class="bg-success-focus text-success-main px-32 py-4 rounded-pill fw-medium text-sm">@ikramUrunler.IkramAdedi</span>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // C# nesnesini JSON'a dönüştür
        var haftalikNakit = @Html.Raw(Json.Serialize(Model.Veriler.HaftalikNakit));
        var haftalikKrediKarti = @Html.Raw(Json.Serialize(Model.Veriler.HaftalikKrediKarti));
        var aylikNakit = @Html.Raw(Json.Serialize(Model.Veriler.AylikNakit));
        var aylikKrediKarti = @Html.Raw(Json.Serialize(Model.Veriler.AylikKrediKarti));

        var nakit = @Html.Raw(Json.Serialize(Model.GünlükGelirGiderRaporu["Nakit"]));
        var krediKarti = @Html.Raw(Json.Serialize(Model.GünlükGelirGiderRaporu["KrediKarti"]));
        var iskonto = @Html.Raw(Json.Serialize(Model.GünlükGelirGiderRaporu["Iskonto"]));
        var ikram = @Html.Raw(Json.Serialize(Model.GünlükGelirGiderRaporu["Ikram"]));
        // Haftalık ve aylık veri setleri
        var weeklySeries = [{
            name: 'Kredi Karti',
            data: haftalikKrediKarti
        }, {
            name: 'Nakit',
            data: haftalikNakit
        }];

        var monthlySeries = [{
            name: 'Kredi Karti',
            data: aylikKrediKarti
        }, {
            name: 'Nakit',
            data: aylikNakit
        }];
    </script>


    <script src="~/js/homeThreeChart.js"></script>
}