<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Callia Coffee: Bandırma'nın kalbindeki lezzet molası. Eşsiz kahve çeşitleri ve sıcacık atmosferiyle, zevkinizi keşfetmek için ideal bir mekân. Her yudumda ferahlatıcı bir tat, her ziyarette samimi bir karşılama sizi bekliyor. Bandırma'nın sokaklarında gezerken ya da dostlarınızla buluşurken, Callia Coffee'nin kapısını çalın ve kendinizi sıcacık bir ortamda bulun.">

    <title>Callia - @RenderSection("Title", false)</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="~/img/favicon.png" type="images/x-icon">

    <script id="www-widgetapi-script" src="~/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>

    <link rel="stylesheet preload" as="style" href="~/css/preload.min.css">
    <link rel="stylesheet preload" as="style" href="~/css/icomoon.css">
    <link rel="stylesheet preload" as="style" href="~/css/libs.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/index.min.css">
    <link rel="stylesheet" href="~/css/team.min.css">
    <link rel="stylesheet" href="~/css/contacts.min.css">
    <link rel="stylesheet" href="~/css/menu.min.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        /* Başlık kaydırıldığında kaybolmasın */
        .header {
            position: fixed; /* Sabit pozisyonda tut */
            top: 0; /* Üstten sıfır noktası */
            left: 0;
            right: 0;
            transition: background-color 0.3s, box-shadow 0.3s; /* Geçiş efektleri */
            z-index: 1000; /* Diğer öğelerin üstünde görünmesi için */
        }

            .header.scrolled {
                background-color: #e5dcd2; /* Arka plan rengini değiştir */
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Gölge ekle */
            }

        .menu-trigger {
            gap: 8px; /* M1 yazısı ile buton arasına boşluk ekler */
            margin-left: auto; /* Sağ tarafa yaslamak için */
        }

        .m1-text {
            margin: 0;
            font-size: 18px; /* İstediğiniz boyutta ayarlayabilirsiniz */
            line-height: 1;
        }
    </style>

    @RenderSection("Styles", false)
</head>

<body>
    <header class="header" data-page="home" data-page-parent="home">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-xl-nowrap">
            <a class="logo h3" href="~/"><span class="logo_img"></span><img src="~/img/logo-callia.png" alt="Callia Coffee Bandırma" style="max-width: 30%; margin-left: 13px"></a>

            @if (!string.IsNullOrEmpty(ViewBag.MasaNumarasi))
            {
                <h6 class="m1-text">Masa No:@ViewBag.MasaNumarasi</h6>
            }

            <a class="nav-item nav-link mx-3" asp-controller="ShoppingCart" asp-action="CartCaliaIndex" data-page="about" data-single="true" style="display: flex; align-items: center;">
                <img src="~/images/bag32.png" class="img-fluid" style="max-width: 32px; height: auto;">

                <span id="cartCount" class="nav-item_text" style="margin-left: 8px; font-size: 16px;">(0)</span>
            </a>

            <nav class="header_nav text--medium text--md collapse" id="headerMenu">
                <ul class="header_nav-list">

               

                    <li class="header_nav-list_item">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Menu" data-page="about" data-single="true">
                            <span class="nav-item_text">MENU</span>
                        </a>
                    </li>

                    <li class="header_nav-list_item">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Iletisim" data-page="about" data-single="true">
                            <span class="nav-item_text">İLETİŞİM & REZERVASYON</span>
                        </a>
                    </li>
                </ul>
                <ul class="header_nav-socials d-flex">
                    <li><a class="link" href="https://www.instagram.com/calliacoffee" target="_blank" rel="noopener noreferrer"><i class="icon-instagram icon"></i></a></li>
                </ul>
            </nav>
            <button style="margin-left: auto; margin-top: -46px" class="header_trigger" id="headerTrigger" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" type="button"><span class="line"></span> <span class="line"></span> <span class="line line--short"></span></button>
        </div>
    </header>

    @RenderSection("ModalStyles", false)

    <main>
        @RenderBody()
    </main>

    <footer class="footer section">
        <div class="container d-flex">
            <div class="footer_about">
                <a class="logo h3" href="~/">
                    <div class="wrapper">
                        <p class="footer_about-address text--sm text--bold">Paşakent MH. Şehit Hakan Palabiyik Cd. Central Apart No: 8/A</p>
                    </div>
                </a>
            </div>
            <div class="footer_block">
                <h4 class="footer_block-title">İLETİŞİM BİLGİLERİ</h4>
                <ul class="footer_block-list text--bold text--md">
                    <li><a class="link" href="tel:+905462291435"><i class="icon-phone icon"></i> +90 505 091 77 09</a></li>
                    <li><a class="link" href="mailto:info@callie.com"><i class="icon-email icon"></i> info@calliacoffee.com</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <h4 class="footer_block-title">ÇALIŞMA SAATLERİMİZ</h4>
                <ul class="footer_block-list text--md">
                    <li><span class="text--bold">PAZARTESİ</span> 09:00 - 01:00</li>
                    <li><span class="text--bold">PAZAR</span> 09:00 - 01:00</li>
                </ul>
            </div>
            <div class="footer_block">
                <h4 class="footer_block-title">Bizi Takip Edin</h4>
                <ul class="footer_block-socials d-flex">
                    <li><a class="link" href="https://www.instagram.com/calliacoffee" target="_blank" rel="noopener noreferrer"><i class="icon-instagram icon"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/common.min.js"></script>
    <script src="~/js/map.min.js"></script>
    <script src="~/js/index.min.js"></script>
    <div class="videoPopup d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="video_frame d-flex align-items-center justify-content-center">
                <i class="icon-close video_frame-close"></i>
                <div id="YTplayer"></div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
    
    
    <script async="" src="~/gtag/js?id=G-3H6DV42Z4D"></script>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-3H6DV42Z4D');
    </script>
    <script>
       

        // Kaydırma olayını dinle
        window.addEventListener('scroll', function () {
            const header = document.querySelector('.header');
            if (window.scrollY > 0) {
                header.classList.add('scrolled'); // Kaydırma yapıldığında sınıf ekle
            } else {
                header.classList.remove('scrolled'); // Kaydırma yoksa sınıfı kaldır
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    

    <script>
        const shoppingCartApiBase = "@Context.Items["ShoppingCartAPI"]";

        
        const connection = new signalR.HubConnectionBuilder()
            .withUrl(`${shoppingCartApiBase}/hubs/CartHub`, {
                withCredentials: true,
                transport: signalR.HttpTransportType.LongPolling
            })
            .build();

        async function startConnection() {
            try {
                await connection.start();
                console.log("SignalR bağlantısı başarılı.");
                await getCart(); // Sayfa yüklendiğinde sepeti al
            } catch (err) {
                console.error("SignalR bağlantısı başarısız:", err);
                setTimeout(startConnection, 5000);
            }
        }

        async function getCart() {
            const sessionId = "@ViewBag.UserId"; // Kullanıcının oturum kimliğini buraya yerleştirin
            try {
                const response = await fetch(`${shoppingCartApiBase}/api/Cart/GetCart/${sessionId}`);
                const data = await response.json();
                if (data.isSuccess) {
                    const count = data.result.cartDetails.reduce((acc, item) => acc + item.count, 0); // Tüm ürünlerin sayısını hesapla
                    document.getElementById("cartCount").textContent = `(${count})`; // Sepet sayısını güncelle
                }
            } catch (error) {
                console.error("GetCart çağrısı başarısız:", error);
            }
        }

        startConnection();

        connection.on("ReceiveTableStatusUpdate", function (count) {
            document.getElementById("cartCount").textContent = `(${count})`; // SignalR ile güncellenen sepet sayısını ayarla
        });
    </script>
    
    @RenderSection("Scripts", false)
</body>

</html>
