@using Calia.Web.Utility
@model CartDto
@if (Model.CartHeader!=null && Model.CartDetails?.Count()>0)
{
    <form method="post">
        <br />
        <div class="card shadow border-0">
            <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5 class="pt-2 text-white">Shopping Cart</h5>
                    </div>

                </div>
            </div>
            <div class="card-body my-4">
                <div class="row"></div>
                <div class="row mb-3 pb-3">
                    <div class="col-md-2 offset-md-1">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        @foreach (var item in Model.CartDetails)
                        {
                            <div class="row border-bottom pb-3">
                                <div class="col-12 col-lg-6 pt-md-3">
                                    <h5 class="text-uppercase text-secondary"><strong>@item.Product.Name</strong></h5>

                                    @if (item.ProductExtrasList.Count > 0)
                                    {
                                        <ul class="list-unstyled">
                                            @for (int i = 0; i < item.ProductExtrasList.Count; i++)
                                            {
                                                <li class="d-flex justify-content-between align-items-center">
                                                    <span>@item.ProductExtrasList[i].ExtraName</span>
                                                    <span class="text-muted">@item.ProductExtrasList[i].Price.ToString("c")</span>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>

                                <div class="col-12 col-lg-5 text-center row">
                                    <div class="col-3 text-md-right pt-2 pt-md-4">
                                        <h6 class="fw-semibold">
                                            @item.DetailPrice.ToString("c")
                                            <span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
                                        </h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                        <div class="w-75 btn-group" role="group">
                                            <a asp-action="plus" asp-route-cartDetailsId="@item.CartDetailsId" class="btn btn-outline-primary bg-gradient py-2">
                                                <i class="bi bi-plus-square"></i>
                                            </a> &nbsp;
                                            <a asp-action="minus" asp-route-cartDetailsId="@item.CartDetailsId" class="btn btn-outline-primary bg-gradient py-2">
                                                <i class="bi bi-dash-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                        <a asp-action="RemoveCart" asp-route-cartDetailsId="@item.CartDetailsId" class="btn btn-danger bg-gradient py-2 ">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <h5 class="text-dark fw-semibold text-uppercase">Total (USD)</h5>
                                    <h4 class="text-dark fw-bolder">@Model.CartHeader.CartTotal.ToString("c")</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            @if (User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleWaiter))
                            {
                                <span>Tables:</span>

                                <select asp-for="@Model.CartHeader.MasaNo" asp-items="@Model.Tables" class="form-select border-0 shadow">
                                    <option disabled selected>
                                        --Masa Seç--
                                    </option>
                                </select>
                                <label asp-for="CartHeader.MasaNo" class="ms-2"></label>
                                <span asp-validation-for="CartHeader.MasaNo" class="text-danger"></span>
                            }
                            
                            

                        </div>
                        <div class="col-md-2 offset-md-5">
                            @if (Model.CartDetails.Count() != 0)
                            {
                                <button type="submit" asp-action="SiparisVer" class="btn btn-sm btn-success"> SiparisVer </button>
                                if (User.IsInRole(SD.RoleAdmin))
                                {
                                    <button type="submit" asp-action="Ikram" class="btn btn-sm btn-success"> İkram </button>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
else
{
    <div>
        <p>Please add items to cart </p>
    </div>
}

